
#ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  height: 150px;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  
}
h2 {
  padding-left: 39px;
}
.projectsol {
  
  color: black;
  display: grid;
  text-align: center;
  
}
.projectsh2{
  text-align: center;
  padding-left: 40px;
  padding-top: 150px;
  margin-top: 0px;
}
section {
  background-image: linear-gradient(#093b41,whitesmoke);
  height: 600px;
  text-align: center;
  
  
}
#li{

  
  list-style-type: none;

}

footer {
  background-color: black;
  height: 75px;
  border: 2px double whitesmoke;
  color: gray;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#main-div {
  
  background-color: whitesmoke;
  background-image: linear-gradient(darkgray,whitesmoke);
  text-align: center;
  height: 70%;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  padding-bottom: 15%;
  
  

}
#hobby{
  list-style-type: none;
  padding-right: 20px;
  
}
#main-p{
  font-weight: 100;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  
}
#cv-h2{
  padding-right: 35px;
  font-weight: 100;
  
}
#cv-link {
  color: black;
  
}
#cv-link:hover{
  color: #4C8BBF;
}

#skills {
  font-size: 40px;
}
p{
  font-size: 30px;
  
}
#hobby-h2{
  padding-right: 35px;
}
#about-p1, #about-p2, #about-p3, #about-p4{
  font-weight: 100;
}
#li a:hover {
  color: black;
  background-color: gray;
}
#project-img{
  padding-left: 20px;
}

#pro-links {
  color: black;
}
#pro-links:hover {
  color: #4C8BBF;
  font-size: 24px;
}
a {
  color: aliceblue;
  text-decoration: none;
}
img {
  padding-right:  20px;
}

#about {
  background-color: whitesmoke;
  background-image: linear-gradient(#093b41,whitesmoke);
  text-align: center;
  height: 300px;
  margin-top: 0px;
  padding-top: 80px;
}

#projects-li {
  color: black;
}
ol{
  padding-left: 0px;
}
button{
  color: white;
  background-color: #4C8BBF;
  width: 120px;
  height: 40px;
  font-size: large;
  border-radius: 30px;
}
button:hover {
  background-color: darkgray;
}
.input {
  width: 200px;
  height: 25px;
  
  border-radius: 30px;
  text-align: center;
  

}
.textarea {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  text-align: center;
}
#ul li:hover{
  color: #4C8BBF;
  
  
}